*{
    
    text-align: center;
    background-color: yellowgreen;
}
h1{
    color: antiquewhite;
    
}
h4{
    color: aliceblue;
    font:italic
}
div.container{
    background-color: black;
    width: 66ch;
    padding-left:3px ;
    padding-right: 3px;
    position: center;
    margin-left: 50ch;
    
    color: aliceblue;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    


}

#registration label{
    background-color: black;
    text-align: left;
    
}
#registration span{
    background-color: black;
}
#registration{
    background-color: black;
    text-align: left;
}

#name{
    color: aliceblue;
    background-color: black;
    text-align: left;
    width:55ch;
    height:30px ;
}
#submit{
    background-color: green;
    border-radius: 5px;
    height: 30px;
    position: left;
}
.box{
    height: 15ch;
    width:55ch;
    background-color: black;
    text-align:start;
}
.box placeholder{
    text-align: start;
}

        


     
